*{
    box-sizing: border-box;
    font-family:"Manrope", sans-serif;;

} 

body {
    background-color: hsl(210, 46%, 95%);
}

.container {
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
    position: absolute;
    top: 10%;
}

.section1 {
    background-color: white;
    border-radius: 10px;
}


.drawers{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 0.625rem 0.625rem 0 0;
}

.section2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.text {
    padding: 0 30px 0 30px;
    color: hsl(217, 19%, 35%);
    margin-bottom: 10px;
    margin-top: 30px;
}

.para {
    padding: 0 45px 0 30px; ;
    margin-top: 0;
    margin-bottom: 30px;
    color: hsl(212, 23%, 69%);
    font-size: 0.8125rem;
}

.section3 {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    border-radius: 0 0 10px 10px;
    padding-bottom: 20px;
    position: relative;
}

.avatar {
    border-radius: 6.25rem;
    height: 40px;
    width: 40px;
    margin-right: 15px;
}

.contact {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-right: 50px;
}

.name {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    margin-bottom: 2px;
}

.date {
    color:hsl(212, 23%, 69%);
}

.sharebtn{
    background-color:hsl(210, 46%, 95%);
    border-radius: 150px;
    border: none;
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.sharebtn:hover {
    cursor: pointer;
}

.share-popup{
    display:none;
    
}

.share-hidden {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100%;
    border-radius: 0 0 10px 10px;
    background-color:hsl(217, 19%, 35%);
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    
}


.share {
    color: hsl(212, 23%, 69%);
    letter-spacing: 4px;
    font-weight: 500;
    margin-left: 0;
}


.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
}

#social-links {
    margin: 8px;
}

.hiddenbtn{
    background-color: hsl(214, 17%, 51%);
    border-radius: 150px;
    border: none;
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.hiddenbtn:hover{
    cursor: pointer;
}


@media screen and (min-width: 1440px) {

}